.container{
    display: grid; 
    grid-template-columns: repeat(16, 40px); 
    grid-gap: 1px;
    width: 75%;
    margin: auto;
}

.box{
    background: white; 
    height: 40px; 
    border: 1px solid black;
}

.coloured{
    background: black;
}